@model IEnumerable<ContractManagementSystem.BusinessLogic.ViewModel.CompanyVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
 
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Home Page</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>
        Company List
        @Html.ActionLink("new", "Create", null, new { @class = "btn btn-info pull-right" ,@style=""})
       
    </div>
    <div>
        <div class="table-responsive">
            

                <div class="col-sm-12 col-md-8">
                    <div class="dataTables_filter ">
                        <label>Search</label>
                        @using (Ajax.BeginForm("_Filter", "Company", new AjaxOptions
                        {//GetPatients is name of method in PatientController
                            InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
                            UpdateTargetId = "Div_List",
                            LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
                        },new { @class= "form-inline" }))
                        {
                            string Name = "";
                            string Url = "";
                            string CustomerID = "";

                            @Html.TextBoxFor(model => Name, new { @class = "form-control  pull-left", @autocomplete = "autocomplete", @id = "Name_Id", @placeholder = "Name" })
                            @Html.HiddenFor(model => CustomerID)
                            @Html.TextBoxFor(model => Url, new { @class = "form-control  pull-left", @autocomplete = "autocomplete", @id = "Name_Id", @placeholder = "URL" })
                            
                            <button class="btn fa fa-search pull-left" type="submit"  style="margin-left:15px"/> 
                        }
                    </div>
                </div>
        
            <hr />
            <div class="col-sm-12" id="Div_List">
                <div id="loader" class=" aletr text-info" style="display:none">
                    Loading...
                </div>

                @Html.Partial("_Filter")

            </div>


            @*<div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div>*@

        </div>
    </div>
</div>







 

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#Name_Id").autocomplete({

                source: function (request, response) {
                    $.ajax({
                        /**/
                        url: '@Url.Action("GetCompanyName")',
        /**/
        datatype: "json",
        data: {
            term: request.term
        },
        success: function (data) {
            response($.map(data, function (val, item) {
                return {
                    label: val.Name,
                    value: val.Name,
                    customerId: val.ID
                }
            }))
        }
    })
},
select: function (event, ui) {
    $("#CustomerID").val(ui.item.customerId);
}
});
});
$(document).on("click", ".DeleteLink", function (e) {
var link = $(this).attr("href"); // "get" the intended link in a var
e.preventDefault();

bootbox.confirm({
message: "Do you want to Delete This?",
buttons: {
    confirm: {
        label: 'confirm',
        className: 'btn-danger'
    },
    cancel: {
        label: 'cancel',
        className: 'btn-default'
    }
},
callback: function (result) {
    if (result) {
        document.location.href = link;
    }
}
});
});

    </script>
}
