@model IEnumerable<ContractManagementSystem.BusinessLogic.ViewModel.CompanyVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyABN_CAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyABN_CAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                <a href="@Url.Action("Delete", new { id=item.ID})" class="DeleteLink btn  btn-sm btn-danger ">delete</a>
                <span class="oi oi-pencil"></span>
            </td>
        </tr>
    }

</table>
@section Scripts{
 
    <script>
        $(document).on("click", ".DeleteLink", function (e) {
            var link = $(this).attr("href"); // "get" the intended link in a var
            e.preventDefault();

            bootbox.confirm({
                message: "Do you want to Delete This?",
                buttons: {
                    confirm: {
                        label: 'confirm',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'cancel',
                        className: 'btn-default'
                    }
                },
                callback: function (result) {
                    if (result) {
                        document.location.href = link;
                    }
                }
            });
        });
         
    </script>
}
